<div class="sidebar sticky-top">
    <div class="sidebar-section">
        <h5><span><a href="https://booodaness.github.io/tempus-spatium/">Tempus Spatium</a></span></h5>
        <i>Tempus Spatium</i> is a blog primarily for mathematical physics and philosophy. It is maintained by the creator of ΨΦ, Siddhartha Bhattacharjee.
        <br>
        Click below to dive right in.
        <br>
        <a href="https://booodaness.github.io/tempus-spatium/"><img src="{{site.baseurl}}/assets/images/site/ad.jpg" alt="Tempus Spatium"></a>
    </div>
</div>
