<div class="sidebar sticky-top">
    <div class="sidebar-section">
        <h5><span><a href="https://booodaness.github.io/tempus-spatium/" target="_blank">Tempus Spatium</a></span></h5>
        <i>Tempus Spatium</i> is a blog primarily for mathematical physics and philosophy. It is maintained by the creator of ΨΦ, Siddhartha Bhattacharjee.
        <br>
        Click below to dive right in.
        <br>
        <a href="https://booodaness.github.io/tempus-spatium/" target="_blank"><img src="{{site.baseurl}}/assets/images/ads/tempus_spatium.jpg" alt="Tempus Spatium"></a>
    </div>
    <div class="sidebar-section">
        <h5><span><a href="https://github.com/Booodaness/Scientific-Notes" target="_blank">Scientific Notes</a></span></h5>
        <i>Scientific Notes</i> is a collaboration for making open-source notes in mathematical physics, physics and mathematics.
        <br>
        Visit the project by clicking below.
        <br>
        <a href="https://github.com/Booodaness/Scientific-Notes" target="_blank"><img style="background-color: #212021" src="https://raw.githubusercontent.com/Booodaness/Scientific-Notes/main/_Common/_Assets/Images/graph.png" alt="Scientific Notes"></a>
    </div>
</div>
